footer {
    max-width: 960px;
    margin: 20px auto;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    height: 40px;
}

footer a {
    margin: 0 5px;
}