#site-title {
    color: #007fff;
}

#header-menu {
    margin: 0;
    padding: 0;
}

#header-menu .active {
    color: #007fff;
}

@media (min-width: 650px){
    #header-menu li {
        list-style: none;
        display: inline-block;
        padding: 0 18px;
    }
}
@media (max-width: 649px){
    #header-menu li {
        list-style: none;
        display: inline-block;
        padding: 0 0 0 5px;
    }
}

@media (max-width: 450px){
    #header-menu {
        display: none;
    }
    #site-title {
        margin: 0 auto;
    }
}