#post-menu {
    top: 15px;
    position: sticky;
    width: 100%;
    background: #fff;
    line-height: 1.5em;
}

#toc-title {
    margin: 0;
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    font-size: 1.1rem;
}

#toc {
    background: #fff;
}

#toc ul {
    list-style: none;
    margin: 0;
    padding: 5px;
}

#toc li {
    margin: 0;
    padding: 5px;
    display: block;
}

#toc a {
    line-height: 1.5em;
}