@media (min-width: 650px){
    .root-pagination {
        margin-right: 20px;
    }
}

.post-pagination  {
    border-top: 1px solid #ddd;
}

.root-pagination, .post-pagination {
    background: #fff;
    margin-top: 20px;
    padding: 15px 30px;
    align-items: center;
    height: 32px;
}

.prev-page, .next-page {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 3px 10px;
    height: 24px;
    transition: 0.3s all;
    color: #909090 !important;
}

.prev-page {
    float: left;
}
.next-page {
    float: right;
}

.prev-page:hover, .next-page:hover {
    color: #909090;
    border-color: #999;
}