.post-pagination  {
    border-top: 1px solid #ddd;
}

.root-pagination, .post-pagination {
    align-items: center;
    height: 74px;
}

.prev-page, .next-page {
    color: #909090;
}

.prev-page {
    float: left;
}
.next-page {
    float: right;
}

.prev-page:hover, .next-page:hover {
    color: #909090;
    border-color: #999;
}