@media (min-width: 650px){
    #post {
        width: 61.8%;
        flex-basis: 61.8%;
        margin-right: 20px;
    }
}

@media (max-width: 649px){
    #post {
        width: 100%;
        flex-basis: 100%;
    }
}

#post {
    overflow: hidden;
    margin-top: 24px;
    background: #fff;
    padding:20px 15px 0 15px;
}

#post-title {
    text-align: center;
    border-bottom: 5px solid rgba(0,0,0,0.8);
}

#post-title h1 {
    font-size: 24px;
    border: 0 !important;
    background: unset !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.5em !important;
}

#post h1,h2,h3,h4,h5,h6 {
    padding-left: 5px;
    background: rgba(0,0,0,0.05);
    line-height: 2em;
    margin: 1.1em -15px;
}
#post h1 {
    border-left: 5px solid #ffa000;
}

#post h2 {
  border-left: 5px solid #03a9f4;
}

#post h3 {
  border-left: 5px solid #3f51b5;
}

#post h4 {
  border-left: 5px solid #ff7043;
}

#post h5 {
  border-left: 5px solid #aeea00;
}

#post h6 {
  border-left: 5px solid #00bfa5;
}

#post a{
    color: #0091ea;
}