#root {
    overflow: hidden;
    margin: 0 auto;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
    margin: 0 -20px;
}

.card-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.read-more {
    color: #0084ff;
    background-color: rgba(0,132,255,.1);
}

.read-more:hover {
    background-color: rgba(0,132,255,.2);
}

#read-info {
    position: relative;
    margin-left: -20px;
    margin-bottom: -20px;
    padding: 5px;
    font-size: 0.5em;
    color: #999;
}