@media (min-width: 670px) {
    .list-post {
        display: flex;
        justify-content: space-between;
    }
    .read-info {
        margin-left: -20px;
        margin-bottom: -20px;
        padding: 5px;
        font-size: 0.5em;
        color: #999;
    }
}

@media (max-width: 670px) {
    .read-info {
        display: none;
    }
}
