.sidebar {
    width: 38.2%;
    flex-basis: 38.2%;
    margin-top: 24px;
}

#search {
    width: 100%;
    background: #fff;
}

#search-key {
    font-size: 1rem;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search form {
    padding-left: 10px;
    width: 100%;
}

#search form input {
    padding: 7px 0;
    width: 100%;
    outline: none;
    border: 1px solid rgba(178, 186, 194, 0.3);
    padding: 2px 0 0 2px;
    font-size: 0.9rem;
    line-height: 1.5em;
    
}

#avatar {
    width: 150px;
    padding: 20px calc((100% - 150px) / 2);
    background-color: #fff;
    margin: 5px 0;
}

#avatar img {
    width: 100%;
    border-radius: 75px;
    margin-bottom: 15px;
}

#categories {
    background: #fff;
    text-align: center;
    padding: 10px 0;
}

#category-title {
    margin:0;
    padding: 20px;
    font-size: 1.5em;
}

.category {
    padding: 0 0 0 20px;
    text-align: start;
    margin-bottom: 10px;
}


.category a {
    font-size: 20px;
    padding: 5px 0;
    color: #909090;
    text-decoration: none;
}

.category a:hover{
    color: #007fff;
}

.category {
    list-style: none;
}

@media (max-width: 649px){
    .sidebar {
        display: none;
    }
}

