.sidebar {
    margin-left: 20px;
}

#search {
    width: 100%;
    padding: 0;
}

#search-key,#mobile-search {
    font-size: 1rem;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding-left: 10px;
    width: 100%;
}

form input {
    padding: 7px 0;
    width: 100%;
    outline: none;
    border: 1px solid rgba(178, 186, 194, 0.3);
    padding-left: 10px;
    font-size: 0.9rem;
    line-height: 1.5em;
    border-radius: 52.5px;
    
}

#avatar {
    width: 100%;
    padding: 20px calc((100% - 150px) / 2);
    text-align: center;
}

#avatar img {
    width: 70%;
    border-radius: 52.5px;
    margin-bottom: 15px;
}

#categories {
    text-align: center;
}

#category-title {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.category {
    text-align: start;
    margin-bottom: 10px;
}

.subcategory {
    margin: 10px 0;
}


.category a {
    font-size: 20px;
    padding: 5px 0;
    color: #909090;
    text-decoration: none;
}

.category a:hover{
    color: #007fff;
}

.category {
    list-style: none;
}

@media (max-width: 649px){
    #sidebar {
        display: none;
    }
}

