body {
    background: rgba(0,0,0,0.05);
    margin: 0;
}

header {
    background: #fff;
    margin: 0;
    border: 0;
}

.main {
    max-width: 1000px;
    display: flex;
    padding: 0 16px;
    margin: 0 auto;
}

body ul {
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #007fff;
}

p {/*段落*/
  margin: 1.5em 0px;
}
h1,h2,h3,h4,h5,h6 {
    margin: 1.1em 0px;
    font-weight:bold;
}

h1 {
    font-size: 1.6em;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.3em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 1em;
}

@import  "_partial/header";
@import "_partial/sidebar";
@import "_partial/rootpage";
@import "_partial/footer";
@import "_partial/font-awesome";
@import "_partial/pagination";
@import "_partial/menu";
@import "_partial/post";
@import "_partial/mobile-navbar";
