body {
    background-color: rgba(0,0,0,.05);
    font-family: '.SFNSText-Regular', 'Helvetica Neue', Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    letter-spacing: 0.02em;
    text-rendering: optimizeLegibility;
    margin: 0;
}

header {
    background: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #909090;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    display: flex;
}

#container {
    max-width: 960px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
}

body ul {
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #007fff;
}

p {
    margin: 1.5em 0px;
}

* {
    box-sizing: border-box;
}

#main {
    max-width: 690px;
    
}

#sidebar {
    width: 310px;
}
@import "_partial/components";
@import "_partial/header";
@import "_partial/sidebar";
@import "_partial/root";
@import "_partial/footer";
@import "_partial/pagination";
@import "_partial/menu";
@import "_partial/post";
@import "_partial/mobile";

@import "_partial/font-awesome";
@import "_partial/animate";