<article id="post" class="card">
    <div id="post-title">
        <h1>归 档</h1>
    </div>
    <div id="archieve" class="card">
        {{ range .Site.Menus.main }}
        <li class="category">
            <a href={{ .URL }}>{{ .Name }}</a>
            {{ if .HasChildren }}
                {{ range .Children }}
                    <ol class="subcategory">
                        <a href={{ .URL }}>{{ .Name }}</a>
                    </ol>
                {{ end }}
            {{ end }}
        </li>
        {{ end }}
    </div>
</article>
<div class="card pagination">
    <a class="button prev-page" href={{ "/" |relURL }} title="首页">
        上一页
    </a>
    <a class="button next-page" href= {{ "about/" | relURL }} title="关于">
        下一页
    </a>
</div>