<article id="introduction">
    <div id="section-title" class="card">
        <h1>{{.Title}}</h1>
        {{.Content}}
    </div>
</article>
<div class="card">
    {{ $currentURL := .URL }}
    {{ range .Site.Menus.main }}
        {{ if eq $currentURL .URL }}
            {{ if .HasChildren }}
                    {{ range .Children }}
                        <div class="list">
                            <a href={{ .URL }}>{{ .Name }}</a>
                        </div>
                    {{ end }}
                </li>
            {{ end }}
        {{ end }}
    {{ end }}
    {{ range .Data.Pages }}
    <div class="list">
        <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
    </div>
{{ end }}
</div>
{{ range  first 1 (after 1 .Site.Menus.home) }}
    <div class="card pagination">
        <a class="button next-page" href= {{ .URL }} title="归档">
            下一页
        </a>
    </div>
{{ end }}