<article id="introduction">
    <div id="section-title" class="card">
        <h1>{{.Title}}</h1>
        {{.Content}}
    </div>
</article>
<div class="card">
    {{ $currentURL := .URL }}
    {{ range .Site.Menus.main }}
        {{ if eq $currentURL .URL }}
            {{ if .HasChildren }}
                    {{ range .Children }}
                        <div class="list">
                            <a href={{ .URL }}>{{ .Name }}</a>
                        </div>
                    {{ end }}
                </li>
            {{ end }}
        {{ end }}
    {{ end }}
    {{ range .Data.Pages }}
        <div class="list list-post">
            <a class="post-link" href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
            <span class="read-info">字数：{{ .WordCount }} 预计时间：{{ .ReadingTime }} 分钟</span>
        </div>
    {{ end }}
</div>