<article id="post">
    <div id="post-title">
        <h1>{{ .Title }}</h1>
    </div>
    <div id="post-cotent">
        {{ .Content }}
    </div>
    {{ if or (and (isset .Params "prev") (ne .Params.Prev "none")) (and (isset .Params "next") (ne .Params.Next "none")) }}
        <div class="post-pagination">
        {{ with .Params.Prev }}
            <a class="prev-page" href={{ . | relURL }} {{ with $.Params.prevTitle }} title={{ . }} {{ end }}>
                上一页
            </a>
        {{ end }}
            {{ with .Params.Next }}
            <a class="next-page" href= {{ . | relURL }} {{ with $.Params.nextTitle }} title={{ . }} {{ end }}>
                下一页
            </a>
            {{ end }}
        </div>
    {{ end }}
</article>