<div>
    <a href={{ "about" | relURL }}>
        <img id="mobile-avatar" class="mobile animated zoomIn" src={{"/img/avatar.jpg" | relURL }} alt={{ .Site.Params.author }}>
    </a>
</div>
<div id="mobile-navbar" class="mobile">
    <div class=" button mobile-navbar">
        <span>菜单</span>
    </div>
</div>
<div id="gotop" class="mobile gotop">
    <div class=" button mobile-navbar">
        <span>置顶</span>
    </div>
</div>
<div id="jquery-menu" class="mobile">
    <div id="mobile-search">
        <i class="icon-search icon-large"></i>
        <form action="//www.google.com/search" target="_blank" class="search-form">
            <input type="text" name="q" maxlength="20" placeholder="搜索...">
            <input type="hidden" name="sitesearch" value={{ .Site.BaseURL }}>
        </form>
    </div>
    <ul id="mobile-menu">
        {{ $currentURL := .URL }}
        {{ range .Site.Menus.home }}
            {{ if eq .Name "归档" }}
                {{ range $.Site.Menus.main }}
                    <li>
                        <a href={{ .URL }}>{{ .Name }}</a>
                    </li>
                {{ end }}
            {{ else }}
                <li>
                    <a href= {{ .URL }}>
                        {{ .Name }}
                    </a>
                </li>
            {{ end }}
        {{ end }}
    {{ partial "mobile-toc.html" . }}
</div>