{{ range first 5 (where .Data.Pages "Section" "programming" ).ByDate.Reverse }}
<article class="card posts">
    <a class="post-title-link" href={{ .URL }}><h1 class="card-title">{{ .Title }}</h1></a>
    <div class="post-content">
        {{ if .Truncated }}
            {{ .Summary }}
        {{ else }}
            {{ .Content }}
        {{ end }}
    </div>
    <div class="card-meta">
        <span class="card-time"><i class="icon-calendar"></i> <time datetime={{ dateFormat "2006-01-02" .Date }}></time>{{ dateFormat "2006-01-02" .Date }}</span>
        {{ if .Params.tags }}
            {{ range .Params.tags }}
                <a href="{{ $.Site.LanguagePrefix | absURL }}tags/{{ . | urlize }}/" class="card-tag">&nbsp#{{ . }}</a>
            {{ end }}
        {{ end }}
        <a class="button read-more" href={{ .URL }}> 阅读全文 </a>
    </div>
    <div id="read-info">字数：{{ .WordCount }} 阅读时间：{{ .ReadingTime }} 分钟</div>
</article>
{{ end }}



{{ range first 5 (where .Data.Pages "Section" "other" ).ByDate.Reverse }}
<article class="card posts">
    <a class="post-title-link" href={{ .URL }}><h1 class="card-title">{{ .Title }}</h1></a>
    <div class="post-content">
        {{ if .Truncated }}
            {{ .Summary }}
        {{ else }}
            {{ .Content }}
        {{ end }}
    </div>
    <div class="card-meta">
        <span class="card-time"><i class="icon-calendar"></i> <time datetime={{ dateFormat "2006-01-02" .Date }}></time>{{ dateFormat "2006-01-02" .Date }}</span>
        {{ if .Params.tags }}
            {{ range .Params.tags }}
                <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/" class="card-tag">&nbsp#{{ . }}</a>
            {{ end }}
        {{ end }}
        <a class="button read-more" href={{ .URL }}> 阅读全文 </a>
    </div>
    <div id="read-info">字数：{{ .WordCount }} 阅读时间：{{ .ReadingTime }} 分钟</div>
</article>
{{ end }}
{{ range  first 1 (after 1 .Site.Menus.home) }}
    <div class="card pagination">
        <a class="button next-page" href= {{ .URL }} title="归档">
            <span >下一页</span>
        </a>
    </div>
{{ end }}